<% if signed_in? %>
  <%= link_to t('navbar.all_tests'), tests_path %>
  <p class="nav user"><%= t('navbar.welcome') %> <%= current_user.first_name %> <%= link_to 'Guru', root_path %> | <%= link_to t('logout'), destroy_user_session_path, method: :delete %></p>
<% else %>
  <%= link_to t('sign_up') , new_user_registration_path %> |
  <%= link_to t('login'), new_user_session_path %>
<% end %>